doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' , href='/favicon.ico?v=1.1')
    script(defer src="/javascripts/Mandelbrot.js")
  body
    block content
